#fond {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: #222;
}*/

#container {
    position: fixed;
    top: 10%;
    left: 10%;
    color: #ddd;
    width: 20%;
    text-align: center;
}

.button {
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    background: rgba( 100, 100, 100, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(77, 130, 53, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    cursor: pointer;
}

.button:before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0; /* Modifiez ici pour résoudre le débordement à gauche */
    width: 0;
    height: 100%;
    background-color: rgba(77, 130, 53, 0.37);
    transition: width 0.5s ease;
}

.button:hover:before {
    width: 100%;
}
#board {
    position: fixed;
    top: 10%;
    left: 33%;
    width: 55%;
    height: 50%;
    color: #ddd;
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    background: rgba( 100, 100, 100, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(77, 130, 53, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px; 
}

#s2 {
    display: none;
}